@font-face {
    font-family: 'SF Pro Display';
    src: url('@/assets/fonts/sf-pro-display-fonts/SFProDisplay-Regular.OTF') format('opentype'),
        url('@/assets/fonts/sf-pro-display-fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('@/assets/fonts/sf-pro-display-fonts/SFProDisplay-Medium.OTF') format('opentype'),
        url('@/assets/fonts/sf-pro-display-fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src:url('@/assets/fonts/sf-pro-display-fonts/SFProDisplay-Bold.OTF') format('opentype'),
        url('@/assets/fonts/sf-pro-display-fonts/SFProDisplay-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}